[user]
    email = njohnhale@gmail.com
    name = Nick Hale
[color]
    ui = auto
[core]
    safecrlf = true
[github]
    user = njhale 
[diff]
    algorithm = patience
    compactionHeuristic = true
    mnemonicprefix = true
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = vim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
    ff = only
[alias]
	dag = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(white)- %an%C(reset)'
